<!DOCTYPE html>
<html>
  <head>
    <title>깃모지(gitmoji) by js</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="깃모지(gitmoji)를 한글로 분류해서 정리한 사이트입니다."
    />
    <meta
      name="og:title"
      content="깃모지(gitmoji) by js"
    />
    <meta name="keywords" content="gitmoji,깃모지,gitmoji 한글,gitmoji category,깃모지 분류,gitmoji kr,gitmoji korean,git emoji" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
